<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>To Do List</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active link1" href="/">Home</a>
      <a class = "link2" href="/work">Work</a>
    </div>
  </body>
</html>
